
/* Generelle Regeln */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 14px;
  min-height: 10px;
}


window#waybar {
  background: transparent;
  /* background: rgba(34, 36, 54, 0.6); */
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#network,
#tray,
#battery,
#custom-ical-progress,
#workspaces,
#language {
  color: #FFFFFF;
  margin-top: 6px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  border: 1px solid #FFFFFF;
}

#custom-archicon {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}


/* -- Specific styles -- */

#custom-archicon {
  font-size: 22px;
  color: #89B4FA;
  background: #161320;
  padding-right: 17px;
  border-right: 0px;
}


#clock {
  /* background: #ABE9B3; */
  background: #161320;
  border-left: 0px;
  border-right: 0px;
}

#cpu {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* background: #96CDFB; */
  background: #161320;
  border-left: 0px;
}

#memory {
  /* background: #DDB6F2; */
  background: #161320;
  border-right: 0px;
}

#workspaces {
  background: #161320;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#workspaces button {
    color: white;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 4px;
    margin-right: 0px;
}


#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: #161320;
  border: #161320;
}

#battery {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #161320;
  border-left: 0px;
}

#network {
  background: #161320;
  border-left: 0px;
  border-right: 0px;


  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

#pulseaudio {
  background: #161320;
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 0px;
}

#custom-ical-progress {
  background: #161320;
  margin-right: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
